// Colors of project

// Brand Colors

$primary-normal: #392D40;
$primary-dark: #291C25;
$primary-light: #392D40; 

$secondary-normal: #FCA221;
$secondary-dark: #E18609;
$secondary-light: #F3BE76;

$white-normal: #fafafa;


